/* UNIVERSAL */

h1 {
  color: red;
}

/* SEARCH BAR */

div.search {
  background-color: gray;
  border-radius: 100px;
  margin-inline: 20px;
}

form.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 30px;
}

fieldset {
  margin-block: 15px;
}

label.filter {
  align-items: end;
}

button.submit {
  margin-top: 15px;
}
